<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36933078503-16ti9ludge3ikvdni65i9es3l691j9cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36933078503-16ti9ludge3ikvdni65i9es3l691j9cs</string>
	<key>API_KEY</key>
	<string>AIzaSyDNql14VHFyeE7QpEFQxBqy18pwf-Jh_X8</string>
	<key>GCM_SENDER_ID</key>
	<string>36933078503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deskop.FoodApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-3aa20</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-3aa20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36933078503:ios:98404b89fcae81b7108142</string>
</dict>
</plist>